@model QuanLyVeSo.Areas.Administrator.Models.PhieuThu
@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin phiếu thu</h2>

@using (Html.BeginForm("ThemMoi", "PhieuThu", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MaPhieuThu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaPhieuThu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaPhieuThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaiLy.TenDaiLy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDaiLy")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayNop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayNop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoTienNop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTienNop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienNop, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color:green;" value="Thêm" class="btn btn-default" />
            </div>
        </div>
}

<div style="text-align:left; color:red;">
    @Html.ActionLink("Trở lại Trang Quản lý Phiếu Thu", "Index")
</div>

