@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<QuanLyVeSo.Areas.Administrator.Models.PhatHanh>
<link href="~/Areas/Administrator/Content/TrangChuCss.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm đợt phát hành", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DaiLy.TenDaiLy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LoaiVeso.Tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SLBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DoanhThuDPH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HoaHong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TienThanhToan)
        </th>
        <th>
            Sửa
        </th>
        <th>
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaiLy.TenDaiLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVeso.Tinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThuDPH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaHong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienThanhToan)
            </td>

            <td>
                @Html.ActionLink("Sửa", "ChinhSua", new { @_ID = item.ID })
            </td>
            <td>
                @Html.ActionLink("Xóa", "Xoa", new { @_ID = item.ID })
            </td>
        </tr>
    }

</table>
<div id="divBody">
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
</div>
<div id="divBody" class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", "DotPhatHanh", new { _Page = page }))
</div>
