@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<QuanLyVeSo.Areas.Administrator.Models.KetQuaSoXo>
<link href="~/Areas/Administrator/Content/TrangChuCss.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm kết quả số xố", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LoaiVeso.Tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Giai.TenGiai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgaySo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoTrung)
        </th>
        <th>
            Sửa
        </th>
        <th>
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVeso.Tinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giai.TenGiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTrung)
            </td>
            <td>
                @Html.ActionLink("Sửa", "ChinhSua", new { @_ID = item.ID })
            </td>
            <td>
                @Html.ActionLink("Xóa", "Xoa", new { @_ID = item.ID })
            </td>
        </tr>
    }

</table>
<div id="divBody">
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
</div>
<div id="divBody" class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", "KetQuaSoXo", new { _Page = page }))
</div>
